.cuerpo-inversion {
    background-color: rgba(0, 0, 0, 0.727);
    color: white;
}

.titulo {
    text-align: center;
    text-decoration: underline;
    margin: 10px;
}

.flex-header {
    display: flex;
    justify-content: space-around;
}

.usuario {
    color: red;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
}

.caja-usuario {
    font-size: 20;
    background-color: white;
    border-radius: 5px;
}